
@{
    ViewData["Title"] = "Main";
    Layout = "~/Views/Custom/MainLayout.cshtml";
}
<h1>Main</h1>
<div class="text-center">
    <select id="AccountDropdown" class="dropdown-content">
        <option class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Main">Bank 1 </option>
        <option class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Main">Bank 2 </option>
    </select>


</div>
