@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Login or Register</h1><br>

    <button type="button" onclick="@("window.location.href='" + @Url.Action("Register", "Home") + "'");">Register</button>
    <button type="button" onclick="@("window.location.href='" + @Url.Action("Login", "Home") + "'");">Login</button>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
